h1, .modalNew{
    margin:10px;
}
.pseudoCarousel::-webkit-scrollbar{
    width: 2em;
}
.pseudoCarousel::-webkit-scrollbar-track{
    background: hsl(48, 61%, 73%);
    border-radius: 100vw;
    margin-block: .5em;
}
.pseudoCarousel::-webkit-scrollbar-thumb{
    background: hsl(12, 89%, 49%);
    border: .25em solid hsl(48, 61%, 73%);
    border-radius: 100vw;
}
.unit{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100%/3) !important;
}
.unit img{
    padding: 2%;
    width: 100%;
    border-radius: 20%;
}
.pseudoCarousel{
    overflow-x: scroll;
    display: flex;
    margin: 3% auto;
    width: 90%;
}
.pseudoCarousel img{
    margin-right: 5%;
    margin-bottom: 2%;
    width: calc(100%/4 - 5%);
    min-height: 50px;
    border-radius: 20%;
}
#lastImg{
    margin-right: 0;
}
.food_card_wrap {
    display: flex;
}
.food_card {
    margin: 10px 0;
    position: relative;
    width: 92%;
    margin-bottom: 10px;
    min-height: 110px;
    border-radius: 15px;
    overflow: unset;
    box-shadow: 0 0 5px 0 #cacaca;
}
.main_info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:column;
    
}
.food_img {
    
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #cacaca;
    width: calc(100% - 10px);
    padding-bottom: 70%;
    margin: 4px auto 0;
    max-height: 100px;
    min-width: 100px;
}
.food_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.food_info {

    padding-left: 5px;
    margin-top: 3px;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
}
.food_header {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 0;
    left: 5px;
    position: relative;
    padding-right: 5px;
}

.food_content {
    width: calc(100% - 40px);

    white-space: normal;
    position: relative;
    font-size: 14px;
    left: 5px;
    color: gray;
    padding-right: 5px;
}
.add {
    font-size: 20px;
    width: 25px;
    height: 25px;
    right: 2%;
    font-weight: 900;
    position: absolute;
    bottom: 2%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 3px;
}
.price {
    padding: 2px 5px;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 -7px;
}
.tableView .food_card{
    left: 5%;
    width: 94%;
}
.tableView .main_info{
    flex-direction: row;
}

.tableView .price{
    position: absolute;
    bottom: 5%;
}
.tableView .food_img{
    margin-left: -4%;
    padding-bottom: 21%;
    width: calc(100% - 250px);
}
.tableView{
    margin-bottom: auto !important;
}
.darkTheme.clr0{
    color: #000 !important;
    background-color: #000 !important;
}
.darkTheme .clr1{
    color: #111 !important;
}
.darkTheme .clr2{
    color: #222 !important;
}
.darkTheme .clr3{
    color: #333 !important;
}
.darkTheme .clr4{
    color: #444 !important;
}
.darkTheme .clr5{
    color: #555 !important;
}
.darkTheme .clr6{
    color: #666 !important;
}
.darkTheme .clr7{
    color: #777 !important;
}
.darkTheme .clr8{
    color: #888 !important;
}
.darkTheme .clr9{
    color: #999 !important;
}
.darkTheme .clr10{
    color: #aaa !important;
}
.darkTheme .clr11{
    color: #bbb !important;
}
.darkTheme .clr12{
    color: #ccc !important;
}
.darkTheme .clr13{
    color: #ddd !important;
}
.darkTheme .clr14{
    color: #eee !important;
}
.darkTheme .clr15{
    color: #fff !important;
    border-color: #fff;
}
@media screen and (min-width:768px){
    .pseudoCarousel img{
        max-width: 200px;
    }
    .unit img{
        padding: 4%;
    }
    .unit{
        max-width: 150px !important;
    }
    .tableView .food_img{
        margin-top: 5px;
    }
}